<h1>Comment #edit</h1>


<%= form_with model: @comment, url: gossip_comment_path(@comment), method: :put do |form| %>

  <div>
    <%= form.label :content %><br>
    <%= form.text_area :content %><br>
    <% @comment.errors.full_messages_for(:content).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<%= button_to "delete", gossip_comment_path, :method => :delete %>