<h1>Gossip</h1>
<% @gossips.each do |gossip| %>
    <div class="card mx-auto my-3" style="width: 80%;">
        <div class="card-body">
            <h2 class="card-text"><%= gossip.title %></h2>
            <p class="card-text"><%= gossip.content %></p>
            <p> Auteur : <%= link_to "#{gossip.user.firstName} #{gossip.user.name}", controller: "profil", action: "show", id: gossip.user.id %> </p>
            <p> Ville de l'auteur :  <%= link_to gossip.user.city.name, controller: "city", action: "show", id: gossip.user.city.id %></p>
            <p> Nombre de commentaires : <%= gossip.comments.count %></p>
            <p> Tag : <%= gossip.tag.name %></p>
            <%= link_to "View", gossip %>
        </div>
    </div>
<% end %>

