<h1>Gossip create</h1>

<%= form_with model: @gossip do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% @gossip.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :content %><br>
    <%= form.text_area :content %><br>
    <% @gossip.errors.full_messages_for(:content).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :user %><br>
    <%= form.text_area :user %><br>
    <% @gossip.errors.full_messages_for(:user).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>