<h1>Gossip create</h1>

<%= form_with model: @gossip do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :content %><br>
    <%= form.text_area :content %><br>
  </div>

  <%= select_tag "tag", options_from_collection_for_select(@tags, "id", "name")%>

  <div>
    <%= form.submit %>
  </div>
<% end %>