<h1>Profil index</h1>

<% @users.each do |user| %>
    <article class="m-4">
        <h2 class="text-center">About <%= user.firstName%> <%= user.name%> : </h2>

        <ul class="list-group">
            <li class="list-group-item">Id : <%= user.id %></li>
            <li class="list-group-item">Email : <%= user.email%></li>
            <li class="list-group-item">Age : <%= user.age%> years old</li>
            <li class="list-group-item">Description : <%= user.description%></li>
            <li class="list-group-item">City : <%= user.city.name %></li>
        <ul>
    </article>
<% end %>